<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Control Panel</title>
		<link rel="stylesheet" href="../static/global.css" />
		<link rel="stylesheet" href="../static/admin.css" />
		<link rel="stylesheet" href="../static/header.css" />
		<link rel="stylesheet" href="../static/font/iconfont.css" />
		<link
			href="https://fonts.googlefonts.cn/css?family=Shadows+Into+Light"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<script src="../static/admin.js" async></script>
	</head>
	<body>
		<header id="nav-header">
			<nav>
				<div id="logo">
					<a href="{{ url_for('player.index')}}">Abstract TV</a>
					<!-- Abstract TV -->
				</div>
				<div class="link-container">
					<span class="user-profile">{{ user }}</span>
					<a href="{{ url_for('auth.logout') }}">登出</a>
					<a href="{{ url_for('auth.signup') }}">注册</a>
				</div>
			</nav>
		</header>
		<main>
			<div class="panel-container">
				<div class="panel">
					<!-- <div class="controls">
						<button id="add-btn">+</button>
						<button id="remove-btn">-</button>
					</div> -->
					<div class="video-container">
						<div class="videos area">
							<div class="video-list">
								{% for video in videos %}
								<div class="row">
									<input type="checkbox" class="check" />
									<span class="pic material-symbols-outlined">
										description
									</span>
									<div class="content">
										<div class="details">
											<span class="name vid">{{ video.id }}</span>
											<span class="name">{{ video.name }}</span>
											<div class="author">
												<span class="pic material-symbols-outlined"
													>person</span
												>
												<span class="name">{{ video.uid }}</span>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="btn-container">
								<button>
									<span class="material-symbols-outlined"> delete </span>
								</button>
							</div>
						</div>
						<div class="uploads area">
							<header>上传视频</header>
							<form
								id="submit-video"
								method="POST"
								enctype="multipart/form-data"
							>
								<span class="pic material-symbols-outlined">cloud_upload</span>
								<input type="file" name="videos" class="upload-file" hidden />
								<span>浏览文件</span>
								<!-- <input type="submit" value="上传文件" /> -->
							</form>
							<section class="upload-list"></section>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
